.container {
  margin-top: 6em;
  display: flex;
  flex-direction: row;
}

h3 {
  text-align: center;
}

a {
  color: #404040;
}

a:hover {
  color: #5c8ca6;
}

.no-records,
.assignedRecordsContainer,
.unAssignedRecordsContainer {
  margin-right: 5em;
  margin-left: 5em;
  /* position:sticky;  */
}

.assignedRecordsContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 20px;
  margin-right: 5em;
  margin-left: 5em;
}

.no-records {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 1.2em;
  width: 525px;
  max-width: 525px;
  border-radius: 5px 5px 5px 5px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  color: #404040;
}
 
.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 1.2em;
  width: 550px;
  max-width: 550px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  color: #404040;
}

.no-records, 
.content-table thead tr   {
  background-color: #404040;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}

.no-records,
.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #fff;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #404040;
}

.content-table tbody tr.active-row {
  font-weight: bold;
  color: #404040;
}

.revenue {
  color: rgb(70, 146, 70);
  text-align: center;
}

.cost {
  color: rgb(255, 110, 110);
  text-align: center;
}

.actionButtons {
  text-align: center;
}